.AppBody {
    overflow: hidden;
    overflow-y: scroll;
    background-color: #173F5F;
    height: 500px;
    width: 70%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}